name: Social Readme

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  update-readme:
    name: Update this rcy1314's README
    runs-on: ubuntu-latest
    steps:
      - uses: rcy1314/rcy1314@master
        with:
          blog_link: https://rsshub.app/telegram/channel/quanshoulu
         
          
